<?xml version="1.0" encoding="utf-8"?>
<!--
	~ Copyright (c) 2014. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
	~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
	~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
	~ Vestibulum commodo. Ut rhoncus gravida arcu.
	-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.anderdonau.spacetrader"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="19"/>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/spacetrader"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name="de.anderdonau.spacetrader.WelcomeScreen"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name="com.google.android.gms.ads.AdActivity"
		          android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />

	</application>

</manifest>
